<ion-view view-title="About Us">
  <ion-content>
  <div class="card">
    	<div class="item item-divider">
            Our History
        </div>
        <div class="item item-text-wrap" >
            <p ng-repeat="history in histories">{{history}}</p>
        </div>
    </div>

    <div class="card">
    	<div class="item item-divider">
            Corporate Leadership
        </div>
        <div class="item item-avatar item-text-wrap" ng-repeat="leader in leaders">
			<img ng-src="{{baseURL+leader.image}}" alt="Leader">
			<h3><strong>{{leader.name}}</strong></h3>
            <h3><strong>{{leader.designation}}</strong></h3>
            <p>{{leader.description}}</p>
        </div>
    </div>
  </ion-content>
</ion-view>