<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
    	<div class="item item-divider">
            Location Information
        </div>
        <div class="item item-text-wrap">
			<h3>Our Adress</h3>
			<p>{{address.road}}</p>
			<p>{{address.district}}</p>
			<p>{{address.city}}</p>
			<p><i class="icon ion-ios-telephone"></i>: {{address.tel}}</p>
			<p><i class="icon ion-printer"></i>: {{address.fax}}</p>
			<p><i class="icon ion-email"></i>: {{address.email}}</p>
        </div>
        <div class="button-bar">
		  	<a class="button button-positive"><i class="icon ion-ios-telephone"></i> Call</a>
		  	<a class="button button-calm"><i class="icon ion-social-skype"></i> Skype</a>
		  	<a class="button button-balanced"><i class="icon ion-ios-email"></i> Email</a>
		</div>
    </div>
  </ion-content>
</ion-view>